<div class="container" style="width: 800px; margin: 160px auto;">

  <div class="upload btn btn-default file-input btn-file">
    <i class="glyphicon glyphicon-plus-sign"></i>
    <input class="upload"
           type="file"
           accept="image/jpeg,image/png"
           custom-on-change="toggleUploadPreviewModal"/>
  </div>

  <div id="imageGallery">
    <div class="photo-holder" ng-repeat="photo in userPhotos">
      <div class="photo clickable"
           ng-click="toggleAlbumModal(photo)"
           ng-attr-style="background-image:url({{photo.small.s3Url}})">
      </div>
      <span ng-click="deletePhoto(photo)">X</span>
    </div>
  </div>


  <!-- gallery modal -->
  <modal title="Gallery" visible="showAlbum">
    <div class="photo">
      <div class="arrow-left clickable" ng-click="showPrevPhoto(clonedPhoto)"></div>
      <div class="arrow-right clickable" ng-click="showNextPhoto(clonedPhoto)"></div>
      <img class="photo" ng-src="{{clonedPhoto.large.s3Url}}" ng-attr-style="position: absolute;">
      <div class="photo-description">
        <edit-in-place-area value="clonedPhoto.description" commit-func="updatePhoto(clonedPhoto)"></edit-in-place-area>
      </div>
    </div>
  </modal>

  <modal title="Preview" visible="showUploadPreview">
    <img class="photo" ng-attr-style="width: 100%;" ng-src="{{previewSrc}}">
    <button ng-click="uploadPhoto(previewFile)">Upload</button>
  </modal>

</div>
